@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 231 48% 94%;
    --foreground: 231 20% 27%;
    --card: 0 0% 100%;
    --card-foreground: 231 20% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 20% 27%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 20% 90%;
    --secondary-foreground: 231 20% 27%;
    --muted: 231 20% 90%;
    --muted-foreground: 231 20% 45%;
    --accent: 122 39% 49%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 85%;
    --input: 231 20% 85%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 122 39% 49%;
    --chart-3: 21 84% 56%;
    --chart-4: 262 52% 58%;
    --chart-5: 210 40% 96.1%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 231 20% 27%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 48% 94%;
    --sidebar-accent-foreground: 231 48% 48%;
    --sidebar-border: 231 20% 85%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 231 20% 10%;
    --foreground: 0 0% 98%;
    --card: 231 20% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 231 20% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 98%;
    --secondary: 231 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 122 39% 59%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 20%;
    --input: 231 20% 20%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 122 39% 59%;
    --chart-3: 21 84% 66%;
    --chart-4: 262 52% 68%;
    --chart-5: 210 40% 9.8%;
    --sidebar-background: 231 20% 10%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 231 20% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 20% 20%;
    --sidebar-ring: 231 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
